.home-container .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.home-container h1 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 48rem) {
  .home-container .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
